.main {
  padding: 30px;
}
h1 {
  font-size: 400%;
}
.justify-content-between {
  margin-top: 10px;
}
.btn {
  margin: 20px;
  padding: 20px;
  background-color: white;
}
.form-control {
  padding-left: 150px;
  padding-right: 150px;
}
.base-top {
  padding-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: #54EBD4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.base-def {
  margin-left: 300px;
  margin-right: 300px;
  background-color: #54EBD4;
}
.base-bott {
  margin-left: 300px;
  margin-right: 300px;
  background-color: #54EBD4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}