.table td,
.table th {
  padding: 0.15rem; /* reducir el padding de las celdas */
  font-size: 0.8rem; /* reducir el tamaño del texto */
}
.logo {
  width: 200px;
  height: 200px;
}
.logo-p {
  width: 100px;
  height: 100px;
}
.largo {
  width: 130px;
}
.btn{
  height: 40px;
}